html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.montserrat-font {
    font-family: 'Monserrat', 'Roboto', sans-serif !important;
    font-optical-sizing: auto; /* This is a new property that is not supported by all browsers */
    font-weight: 100;
    font-style: thin;
}

p {
    font-family: 'Monserrat', 'Roboto', sans-serif !important;
    font-optical-sizing: auto; /* This is a new property that is not supported by all browsers */
    font-weight: 100;
    font-style: thin;
    font-size: 15px;
}

/* Navigation Bar */
.nav {
    padding: 5px 3px 5px 3px;
    margin: 0px;
    top: 0px;
    width: 100%;
    background-color: #004d00;
}
.nav-page {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 22px;
}

.nav-link {
    display: inline;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: rgb(202, 200, 200);
}

#log-page {
    float: right;
}

#contact-page {
    float: right;
}

#about-page {
    float: right;
}

/* Main Content */
#header {
    /* background-image: url('images/header.jpg');
    background-size: cover;
    background-position: center; */
    height: 50px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#contact-quick-link {
    text-decoration: none;
    color: black;
}

#contact-quick-link:hover {
    text-decoration: none;
    color: rgb(102, 101, 101);
}

#moto {
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    font-style: thin;
    margin: 30px 0px 0px 0px;
    color: #333333;
}

#content {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

#call-to-action-button {
    margin: 50px 0px 50px 0px;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    font-weight: 100;
    font-style: thin;
    background-color: #004d00;
    color: white;
    border: none;
    border-radius: 5px;
}

#call-to-action-button:hover {
    background-color: #013e01;
}

#call-to-action-link {
    text-decoration: none;
    color: white;
}

.image-card-text {
    font-size: 30px;
    font-weight: 200;
    font-style: thin;
    color: #333333;
}

.image-card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #333333;
}

.card-space {
    margin: 0px;
    padding: 5px;
}

.home-image {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* About Page */
.about-member-card {
    display: inline-block !important;
    margin: 10px !important;
    padding: 10px !important;
    width: 300px !important;
    height: 400px !important;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #333333;
}

/* Contact Page */
.address {
    font-weight: 300 !important;
    font-style: normal;
    margin-bottom: 25px;
}

.contact-label {
    font-size: 22px;
    color: #006400;
    margin-bottom: 25px;
}

.contact-info {
    font-size: 22px;
    margin-bottom: 25px;
}

/* Log Page */
.member-logs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.member-log-card {
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #333333;
}

.meeting-log-label {
    margin-bottom: 0px !important; 
    padding-bottom: 0px !important;
}

.attendance {
    margin-bottom: 0px !important; 
    padding-bottom: 0px !important;
}

.check {
    margin-bottom: 0px !important; 
    padding-bottom: 0px !important;
}